// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.property-main-photo {
  background-size: cover;
  height: 500px;
  background-position: center;
}

#prop-details {
  height:150px;
  overflow: hidden;

  &.open {
    height:auto;
  }
}

.nuri{
  height: 250px;
}