<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Search for your new home today...</h1>
      <p><%= account_signed_in? %></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <section id="latest-properties">
    <div class="container">
      <div class="row">
        <%= render 'properties/list', properties: @properties %>
      </div>
    </div>
  </section>

</main>

