<% if obj.errors.any? %>
  <div id="error_explanation">
    <h2 class="pt-4"><%= pluralize(obj.errors.count, "error") %> prohibited this property from being saved:</h2>

    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>